<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block extracss %}{% endblock extracss %}

    {% block extrastyle %}{% endblock extrastyle %}

    {% block javascript %}{% endblock javascript %}

</head>
<body>
{% include 'navbar.html' %}

{% if messages %}
<script>
    {% for message in messages %}
    alert("{{ message }}");
    {% endfor %}
</script>
{% endif %}

{% block content %}

{% endblock content %}

</body>
</html>