{% extends 'main.html' %}

{% block title %}
SkyHealth
{% endblock title %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'w1995934/Main.css' %}">
{% endblock extracss %}

{% block javascript %}
{% load static %}
<script defer src="{% static 'w1995934/Backend.js' %}"></script>
{% endblock javascript %}


{% block content %}
{% load static %}
<main class="main-content">
    <h1 id="MainWel">Welcome</h1>
    {% if user.is_authenticated %}
    <p id="MainPara">At SkyHealth, we believe that the well-being of our employees is the foundation of a thriving
        workplace.<br>
        This platform is designed to help us understand and support your health, <br> feelings and progress as part
        of our team. Through regular surveys, you can share your experiences challenges and achievements,<br>
        helping us create a healthier and more productive work enviroment.<br> Managers can also use SkyHealth
        to gain valuable insights into their team's well-being and progress,<br> ensuring everyone feels heard and
        supported.
    </p>
    {% else %}
    <P id="LoginInf">If you have an account you can login by clicking the login button at the top.
        <br> If you have not already registered you can <a id="RegLink" href="{% url 'skyhealth_signup'%}">click me</a> to register.
    </P>
    {% endif %}
</main>
{% endblock content %}