<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkyHealth</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Main.css">
    <script defer src="Backend.js"></script>

    <style>

    </style>


</head>

<body>
    <div class="container">
            <nav class="navigation">
                <ul>
                <img src="Skylogo.png" class="logo">
                <h1 class="LogoText">Health</h1>
                <li><a href="">Home</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">User Profile</a></li>
                <li><a href="">Admin</a></li>
                </ul>
            </nav>
        </div>
    <main class="main-content">
    <h1 id="MainWel">Welcome</h1>
    <p id="MainPara">At SkyHealth, we believe that the well-being of our employees is the foundation of a thriving workplace.<br>
        This platform is designed to help us understand and support your health, <br> feelings and progress as part
        of our team. Through regular surveys, you can share your experiences challenges and achievements,<br>
        helping us create a healthier and more productive work enviroment.<br> Managers can also use SkyHealth
        to gain valuable insights into their team's well-being and progress,<br> ensuring everyone feels heard and
        supported.
    </p>

    <P id="LoginInf">If you have an account you can login by clicking the login button at the top.
        <br> If you have not already registered you can <a id="RegLink" href="">click me</a> to register.
    </P>


    </main>

</body>

</html>