{% extends 'main.html' %}

{% block title %}
{{ leader.team_name }} Details
{% endblock title %}\

{% block extracss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'w1995934/Main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'w1995934/team_detail.css' %}">
{% endblock extracss %}

{% block content %}
<div class="team-detail-container">
    <h1>{{ leader.team_name }}</h1>
    <div class="leader-info">
        <h2>Team Leader</h2>
        <p>Name: {{ leader.user.get_full_name }}</p>
        <p>Email: {{ leader.user.email }}</p>
    </div>

    <div class="team-members">
        <h2>Team Members</h2>
        <ul>
            {% for member in leader.team.members.all %}
            <li>{{ member.get_full_name }}</li>
            {% empty %}
            <li>No members assigned yet</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}