{% extends 'main.html' %}

{% block title %}
Teams Summary
{% endblock title %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'w1995934/Main.css' %}">
<link rel="stylesheet" href="{% static 'w1995934/teamsum.css' %}">
{% endblock extracss %}


{% block content %}
<div class="team-summary-container">
    <h1>Teams in Department: {{department.depName}}</h1>

    <div class="leaders-grid">
        {% for item in team_data %}
        <div class="leader-card">
            <h3>Team: {{ item.team.teamName }}</h3>
            <p>
                {% if item.leader %}
                <span> Team Leader: {{ item.leader.get_full_name }}</span>
                {% else %}
                <span>No leader assigned</span>
                {% endif %}
            </p>
            <button onclick="location.href='{% url 'skyhealth_team_detail' item.team.id %}'">
                View Summary
            </button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}