{% extends 'main.html' %}

{% block title %}
SkyCare Survey
{% endblock title %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'w1926950/style.css' %}"/>
{% endblock extracss %}

{% block content %}
<div class="container">
    <h2>
      <h1>Review for: {{card.cardTitle}}</h1>
    <h2>Card Description:</h2>
    {% for part in split_description %}
    <ul>{{ part }}</ul>
    {% endfor %}
    </h2>

    <form id="surveyForm" method="POST">
        {% csrf_token %}

        <div class="content">
            <div class="faces">
                <label class="face-button happy">
                    <input type="radio" name="rating" value="2" {% if existing_review and existing_review.answer == 2 %}checked{% endif %}>
                    😊 <span>2 - Meets expectations</span>
                </label>
                <label class="face-button neutral">
                    <input type="radio" name="rating" value="1" {% if existing_review and existing_review.answer == 1 %}checked{% endif %}>
                    😐 <span>1 - Needs improvement</span>
                </label>
                <label class="face-button sad">
                    <input type="radio" name="rating" value="0" {% if existing_review and existing_review.answer == 0 %}checked{% endif %}>
                    ☹️ <span>0 - Not applicable</span>
                </label>
            </div>

            <!-- Right: Vertical bar -->
            <div class="bar">
                <div class="bar-segment low"></div>
            </div>
        </div>

<!--        <input type="hidden" name="question_id" value="1"/>-->

        <div class="navigation">
            <button type="submit">Submit</button>
<!--            <button type="button" onclick="goToNext()">&rarr;</button>-->
        </div>
    </form>
</div>


<script>
    const buttons = document.querySelectorAll('.face-button');
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => btn.classList.remove('selected'));
        button.classList.add('selected');
        console.log('Selected:', button.innerText.trim());
      });
    });
    function goToPrev() {
    window.location.href = 'question1.html'; 
  }

  function goToNext() {
    window.location.href = 'question2.html';
  }
</script>
{% endblock content %}