{% extends 'main.html' %}

{% block title %}
Overview
{% endblock title %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'w1926950/dashboard.css' %}"/>
{% endblock extracss %}

{% block extrastyle %}
<style>
    body{
        padding-top: 40px
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="dashboard">
    <main>
        <div class="grid-section">
            {% for card in cards %}
            <a href="{% url 'skyhealth_create_review' card.id %}">
                <div class="card">
                    <h1>{{card.cardTitle}}</h1>
                    <div class="emoji">😊</div>
                </div>
            </a>
            {% endfor %}

<!--            <div class="results-section">-->
<!--                <div class="pie"></div>-->
<!--                <div class="comments">-->
<!--                    <h4>Comments about Pie chart.</h4>-->
<!--                    <p>-->
<!--                        This pie chart represents a 100% Green rating, indicating that all team members have voted-->
<!--                        positively on the health check cards. This means the team is in excellent condition, with no-->
<!--                        reported concerns. Productivity, collaboration, and overall workflow are running smoothly with-->
<!--                        no critical issues.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </main>
</div>
{% endblock content %}
