<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Overview</title>
  <link rel="stylesheet" href="seniormanager.css" />
</head>
<body>
  <div class="page">
    <header>
      <img src="sky-logo.png" alt="SkyCare Logo" class="logo" />
      <div class="icons">
        <div class="profile-icon">👤</div>
        <div class="home-icon">🏠</div>
      </div>
    </header>

    <h1>Overview</h1>

    <div class="search-container">
      <input type="text" placeholder="search by department or team name" />
      <span class="search-icon">🔍</span>
    </div>

    <div class="table">
      <div class="table-header">
        <div>Department Name</div>
        <div>Team Name</div>
        <div>Team Member Name</div>
      </div>
      <div class="table-body">
        <div>1)</div><div></div><div></div>
        <div>2)</div><div></div><div></div>
        <div>3)</div><div></div><div></div>
        <div>4)</div><div></div><div></div>
        <div>5)</div><div></div><div></div>
      </div>
    </div>


  </div>
</body>
</html>
