{% extends 'main.html' %}

{% block title %}
Overview
{% endblock title %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'w1926950/seniormanager.css' %}"/>
{% endblock extracss %}


{% block content %}
<div class="page">

    <h1>Overview</h1>
    <h2>All Departments</h2>

    <div class="table">
        <div class="table-header">
            <div>Department Name</div>
            <div>Department Manager</div>
            <div>Department Teams</div>
        </div>
        <div class="table-body">
            {% for department in department_data %}
            <div class="table-row">
                <div>{{ department.department.depName }}</div>
                <div>
                    {% if department.manager %}
                    {{ department.manager.user.get_full_name }}
                    {% else %}
                    No manager assigned
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'skyhealth_teams_summary' department.department.id %}" class="view-teams-btn">View Teams</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>
{% endblock content %}